@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    max-width: 1600px;
    margin: 0;
}

/*Common styles*/
.flex{
    display: flex;
}

.primary-bg-color{
    background-color: #1A0B2E;
}
.secondary-bg-color{
    background-color: #230E3D;
}
.card-bg-color{
    background-color: rgba(53, 17, 101, 0.4);
}
.hidden{
    display: none;
}

.buttons{
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

/*common gradients*/
.text-gradient{
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.btn-gradient{
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
}

/*header*/
.navbar{
    padding: 16px 200px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    gap: 32px;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.logo{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
}
.right-arrow{
    filter: invert(100%);
    height: 30px;
    width: 25px;
    margin-left: 5px;
}
