@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common styles*/
.flex{
    display: flex;
}

.primary-bg-color{
    background-color: #1A0B2E;
}
.secondary-bg-color{
    background-color: #230E3D;
}
.card-bg-color{
    background-color: rgba(53, 17, 101, 0.4);
}
.hidden{
    display: none;
}
p{
    color: #ffffff;
    opacity: 80%;
}
.buttons{
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.listen-on-spotify-btn:hover,
.subscribe-hero-btn:hover,
.navbar-btn:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}


/* body{
    width: 100%;
    margin: 0 auto;
} */
/*common gradients*/
.text-gradient{
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-gradient{
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
}

/*header*/
.navbar{
    padding: 16px 200px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    gap: 32px;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.menu a:hover{
    color: #00FF88;
}
.logo{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
}
.right-arrow{
    filter: invert(100%);
    height: 30px;
    width: 25px;
    margin-left: 5px;
}
#hamburger-menu{
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#hamburger-menu:hover{
    transform: scale(1.2);
}


/*Hero*/
.hero-section{
    min-height: 100vh;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 640px;
    padding: 40px;
}
.microphone{
    background-image: url("../assets/hero-circle.png");
    position: relative;
    width: 350px;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.microphone img{
    /* width: 150px; */
    width: 40%;
    height: auto;
}
.new-badge{
    position: absolute;
    top: 8%;
    right: 8%;
    background: #00FF88;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 90px;
}
.hero-title{
    font-size: 3.8rem;
    color: #ffffff;
}
.hero-text p{
    opacity: 60%;
}
.group-btn{
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.listen-on-spotify-btn{
    font-weight: 500;
    gap: 10px;
    border: none;
}
.subscribe-hero-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-weight: 500;
    gap: 10px;
}


/*podcast section*/
.podcast-container{
    /* width: 80%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 200px 120px 200px;
    margin: 0 auto;
}
.divider{
    border: 1px solid white;
    opacity: 10%;
    margin-top: 80px;
    width: 100%;
}
.podcast-cards{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}
.podcast-section-title{
    color: #ffffff;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 16px;
}
.podcast-content{
    width: 70%;
}
.podcast-section-text{
    line-height: 200%;
}
.podcast-cards h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.podcast-cards p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}
.star::before{
    content: "★";
    color: #00FF88;
}

/*why choose section*/
.why-choose{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 200px;
}
.why-choose-title{
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 40px;
}
.why-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.why-card-container .why-card:nth-child(1){
    grid-row: span 2;
}
.why-card-container .why-card:nth-child(2),
.why-card-container .why-card:nth-child(3),
.why-card-container .why-card:nth-child(4){
    grid-column: span 2;
}
.why-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    padding: 40px;
    text-align: start;
}
.why-card img{
    width: 60px;
}
.why-card h4{
    font-size: 1.5rem;
    color: #ffffff;
}
.why-card p{
    opacity: 60%;
    line-height: 24px;
}
.why-card:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 1px 1px 1px #716686;
}


/*featured episodes section*/
.featured-episodes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    gap: 40px;
}
.featured-title{
    font-size: 3rem;
    color: #ffffff;
}
.featured-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.featured-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* border: 3px solid red; */
    border-radius: 40px;
    /* overflow: hidden; */
}
.featured-card-content{
    padding: 30px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}
.video-wrap{
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    width: 100%;
}
.video-wrap iframe{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    display: block;
}
.featured-card-content h3{
    color: #ffffff;
    font-size: 1.5rem;
}
.featured-card-content p{
    opacity: 60%;
    line-height: 24px;
}
.duration{
    gap: 10px;
}
.duration h4{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
}


/*host*/
.host-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.host-section-title{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.host-card{
    margin: 0 200px 120px;
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.host-info{
    flex-direction: column;
    gap: 16px;
}
.host-info h3{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}
.host-info p{
    opacity: 60%;
    line-height: 24px;
}
.host-social-icons{
    gap: 8px;
}
.host-social-icons .icons{
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.host-social-icons .icons:hover img{
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}



/*Footer*/
.footer-section{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 45vh;
    width: 100%;
}
.footer-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.brand{
    font-size: 5rem;
    font-weight: 800;
    color: #ffffff;
}
.platform-info{
    gap: 40px;
}
.platform{
    display: flex;
    gap: 8px;
}
.platform a{
    text-decoration: none;
}


/*Animation*/
.microphone{
    animation: heartbeat 0.8s infinite ease-in-out;
}
@keyframes heartbeat {
    0%, 100%{
        transform: scale(1);
    }
    14%{
        transform: scale(1.04);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.01);
    }
    56%{
        transform: scale(1);
    }
}



/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*Responsive part*/
@media screen and (max-width: 576px){
    .navbar{
        padding: 16px 20px;
        flex-wrap: wrap;
    }
    .navbar-btn,
    .menu{
        display: none;
    }
    .logo{
        font-size: 2rem;
    }
    #hamburger-menu{
        display: inline;
        width: 24px;
    }

    
    /*hero*/
    .hero-section{
        min-height: 470px;
        padding: 0 12px;
        background-size: contain;
        background-position: center 50px;
        position: relative;
        background-color: #1A0B2E;
    }
    .hero-content{
        padding: 0 10px;
        gap: 20px;
        position: absolute;
        top: 8%;
    }
    .microphone{
        width: 200px;
        margin-bottom: 20px;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .group-btn{
        flex-wrap: wrap;
    }
    .new-badge{
        top: 2%;
        right: 2%;
    }
    

   
    /*podcast*/
    .podcast-container{
        padding: 50px 20px;
    }
    .podcast-cards{
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    }
    .podcast-content{
        width: 90%;
    }
    .divider{
    margin-top: 40px;
    }
    .podcast-section-title{
        font-size: 2rem;
    }
    .podcast-cards h2{
        font-size: 2.5rem;
    }


    .why-choose{
        padding: 40px 20px;
    }
    .why-choose-title{
        font-size: 2rem;
        align-self: center;
        margin-bottom: 16px;
    }
    .why-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .why-card-container .why-card:nth-child(2),
    .why-card-container .why-card:nth-child(3),
    .why-card-container .why-card:nth-child(4){
        grid-column: span 1;
    }
    .why-card{
        padding: 24px;
    }


    .featured-episodes{
        padding: 40px 20px;
        gap: 24px;
    }
    .featured-title{
        font-size: 2rem;
    }
    .featured-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .featured-card-content h3{
        font-size: 1.25rem;
    }
    .featured-card-container{
        gap: 16px;
    }


    .host-section{
        gap: 24px;
    }
    .host-section-title{
        font-size: 2rem;
    }
    .host-card{
        flex-direction: column;
        margin: 0 20px 40px;
        padding: 24px;
        gap: 16px;
    }
    .host-info{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
    .host-info h3{
        font-size: 1.5rem;
    }
    .host-img{
        width: 150px;
    }


    .footer-section{
        background-size: contain;
        background-position: center;
        background-color: #210f40;
        min-height: 30vh;
    }
    .footer-content{
        padding: 20px;
        gap: 20px;
        text-align: center;
    }
    .brand{
        font-size: 2.2rem;
    }
    .platform-info{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }


    
}