@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/*Common styles*/
.flex{
    display: flex;
}

.primary-bg-color{
    background-color: #1A0B2E;
}
.secondary-bg-color{
    background-color: #230E3D;
}
.card-bg-color{
    background-color: rgba(53, 17, 101, 0.4);
}
.hidden{
    display: none;
}
p{
    color: rgb(204, 204, 204);
}
.buttons{
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}


body{
    /* max-width: 1600px; */
    width: 100%;
    margin: 0 auto;
}
/*common gradients*/
.text-gradient{
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.btn-gradient{
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
}

/*header*/
.navbar{
    padding: 16px 200px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    gap: 32px;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.logo{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
}
.right-arrow{
    filter: invert(100%);
    height: 30px;
    width: 25px;
    margin-left: 5px;
}
#hamburger-menu{
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#hamburger-menu:hover{
    transform: scale(1.2);
}
/*Hero*/
.hero-section{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.microphone{
    width: 350px;
    height: 350px;
    background-image: url(../assets/hero-circle.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-badge{
    background-color: #00FF88;
    padding: 8px 16px;
    /* color: ; */
    border-radius: 90px;
    font-size: 1.1rem;
    font-weight: 600;
    transform: translateY(-325px) translateX(115px);
}
.hero-title{
    font-size: 3.8rem;
    color: #ffffff;
}
.hero-text{
    margin-top: 10px;
}
.group-btn{
    margin-top: 20px;
    gap: 10px;
}
.listen-on-spotify-btn{
    font-weight: 500;
    gap: 10px;
}
.subscribe-hero-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-weight: 500;
    gap: 10px;
}





/*Responsive part*/
@media screen and (max-width: 576px){
    .navbar{
        padding: 16px 20px;
        flex-wrap: wrap;
    }
    .navbar-btn,
    .menu{
        display: none;
    }
    .logo{
        font-size: 2rem;
    }
    #hamburger-menu{
        display: inline;
        width: 24px;
    }

    .microphone{
        height: 200px;
        width: 200px;
        background-size: contain;
    }
}